<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Setting character encoding to UTF-8 for proper text display -->
    <meta charset="UTF-8">
    <!-- Ensures the webpage scales correctly on different devices for a responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the CSS stylesheet, using Thymeleaf to correctly resolve the path -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Dynamically set the page title using Thymeleaf expression -->
    <title th:text="${title}">DISCUS</title>
</head>

<body>
    <!-- Inserts the header fragment from the specified Thymeleaf template -->
    <div th:insert="fragments/Header :: siteHeader"></div>
    
    <div class="content">
        <div class="contact-container">
            <!-- Static heading indicating an error message -->
            <h1>Error Message</h1>
            <!-- Static paragraph providing a general error message to the user -->
            <p>An error has occurred. Please try again later</p>
            <!-- Dynamic paragraph to display specific error messages, if any, using Thymeleaf -->
            <p th:text="${errorMessage}">Error occurred while processing your request.</p>
            <!-- Link to navigate back to the home page -->
            <a class="button-link" href="/home">Back to Home</a>
        </div>
    </div>

    <!-- Inserts the footer fragment from the specified Thymeleaf template -->
    <div th:insert="fragments/Footer :: siteFooter"></div>
</body>
</html>
